# Data Exploration – MoMA Art Dataset

---

## Data Loading

In [5]:
import sys
import os

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [6]:
import importlib
import src.data_loader as dl

importlib.reload(dl)

artists = dl.load_artists()


## 2. General Structure
- Dataset size
- Columns and data types
- First few rows

In [7]:
artists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15682 entries, 0 to 15681
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ConstituentID  15682 non-null  int64
 1   DisplayName    15682 non-null  object
 2   ArtistBio      13476 non-null  object
 3   Nationality    13180 non-null  object
 4   Gender         12410 non-null  object
 5   BeginDate      15682 non-null  int64
 6   EndDate        15682 non-null  int64
 7   Wiki QID       3245 non-null   object
 8   ULAN           2930 non-null   float64
dtypes: float64(1), int64(3), object(5)
memory usage: 1.1+ MB

In [8]:
artists.head()

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
0,1,Robert Arneson,"American, 1930–1992",American,male,1930,1992,NaN,NaN
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,male,1936,0,NaN,NaN
2,3,Bill Arnold,"American, born 1941",American,male,1941,0,NaN,NaN
3,4,Charles Arnoldi,"American, born 1946",American,male,1946,0,Q1063584,500027998.0
4,5,Per Arnoldi,"Danish, born 1941",Danish,male,1941,0,NaN,NaN


## 3. Missing Values and Data Quality

In [9]:
artists.isna().sum()

ConstituentID        0
DisplayName          0
ArtistBio         2206
Nationality       2502
Gender            3272
BeginDate            0
EndDate              0
Wiki QID         12437
ULAN             12752
dtype: int64

In [10]:
artists.duplicated().sum()

0

## 4. Distribution and Cardinality
- Categorical columns
- Numerical columns: ID, beginDate, endDate, ULAN
- Cardinality (how many unique values?)

## 5. Dataset Relationships
- Relationships between `Artworks` and `Artists`: only artist name
- Possible primary/foreign keys